.libro {
  width: 15rem;
  height: 22rem;
  margin: auto;
  border: 1px solid black;
  margin-bottom: 2rem;
}

.producto {
  margin-top: 2rem;
}
.titulo {
  font-weight: bold;
  margin-bottom: 2rem;
  font-size: 15px;
  height: 1rem;
}
.imagen {
  width: 8rem;
}
